<table class="table table-borderless my-3" id="packageInfo">
  <thead>
    <tr>
      <th scope="col">แพ็คเกจ</th>
      <th scope="col">ระบบ</th>
      <th scope="col">จำนวนรถ</th>
      <th scope="col">ผู้ใช้งาน</th>
      <th scope="col">Server</th>
      <th scope="col">Backup</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="first-data-on-table">{{data?.packageName}}</td>
      <td>{{data?.system}}</td>
      <td>{{data?.carValue}}</td>
      <td>{{data?.userValue}}</td>
      <td>{{data?.serverType}}</td>
      <td>{{data?.backup}}</td>
    </tr>
  </tbody>
</table>