<div class="card">
  <div class="card-header"><span>เพิ่มข้อมูล Server</span></div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <form>
          <div class="form-row">
            <div class="form-group col-12 server-name">
              <label for="inputServerName">ชื่อเครื่อง Server</label>
              <input type="name" class="form-control" id="inputServerName" placeholder="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 cpu">
              <label for="inputCpu">CPU</label>
              <input type="name" class="form-control" id="inputCpu" placeholder="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 ram">
              <label for="inputRam">RAM</label>
              <input type="name" class="form-control" id="inputRam" placeholder="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 storage">
              <label for="inputStorage">Storage</label>
              <input type="name" class="form-control" id="inputStorage" placeholder="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 detail">
              <label for="inputDetail">รายละเอียด</label>
              <input type="name" class="form-control" id="inputDetail" placeholder="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 provider">
              <label for="inputProvider">ข้อมูล Provider</label>
              <input type="name" class="form-control" id="inputProvider" placeholder="">
            </div>
          </div>

          <div class="card-provider">
            <div class="card-body-provider">
              <div class="row form-row">
                <div class="form-group col col-4">
                  <img src="./assets/images/user.png" />
                </div>
                <div class="form-group col col-8">
                  <div class="row">
                    <div class="col col-12 provider-name">
                      <span>Ready idc cloud</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col col-12 tel-number">
                      <span>Contract: 089-xxx-xxxx</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col col-12 website">
                      <span>Website: www.ready.idc.com</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-6 submit-button">
              <button class="btn btn-primary" type="submit" style="float: right;">ยืนยัน</button>
            </div>
            <div class="form-group col-6 reset-button">
              <button class="btn btn-primary" type="reset">ยกเลิก</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>