<div class="card">
  <div class="card-header"><span>เพิ่มข้อมูล Package</span></div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <form>
          <div class="form-row system">
            <div class="col-12">
              <div class="row">
                <div class="col-12 subject-label">
                  ระบบที่เปิดใช้งาน
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <section class="section">
                    <mat-checkbox class="example-margin">TMS</mat-checkbox>
                  </section>
                </div>
                <div class="col-9">
                  <section class="section">
                    <mat-checkbox class="example-margin">VRP</mat-checkbox>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row platform-mobile">
            <div class="col-12">
              <div class="row">
                <div class="col-12 subject-label">
                  Platform mobile
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <section class="section">
                    <mat-checkbox class="example-margin">Andiod</mat-checkbox>
                  </section>
                </div>
                <div class="col-9">
                  <section class="section">
                    <mat-checkbox class="example-margin">IOS</mat-checkbox>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row server-type">
            <div class="col-12">
              <div class="row">
                <div class="col-12 subject-label">
                  Server
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <section class="section">
                    <mat-checkbox class="example-margin">VPS</mat-checkbox>
                  </section>
                </div>
                <div class="col-9">
                  <section class="section">
                    <mat-checkbox class="example-margin">Cloud</mat-checkbox>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 backup">
              <label for="inputBackup">Backup</label>
              <input type="name" class="form-control" id="inputBackup" placeholder="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 price">
              <label for="inputPrice">ราคา</label>
              <input type="name" class="form-control" id="inputPrice" placeholder="">
            </div>
          </div>

          <div class="form-row support">
            <div class="col-12">
              <div class="row">
                <div class="col-12 subject-label">
                  Support
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <section class="section">
                    <mat-checkbox class="example-margin">Ticket</mat-checkbox>
                  </section>
                </div>
                <div class="col-3">
                  <section class="section">
                    <mat-checkbox class="example-margin">Call</mat-checkbox>
                  </section>
                </div>
                <div class="col-6">
                  <section class="section">
                    <mat-checkbox class="example-margin">Remote</mat-checkbox>
                  </section>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-6 submit-button">
              <button class="btn btn-primary" type="submit" style="float: right;">ยืนยัน</button>
            </div>
            <div class="form-group col-6 reset-button">
              <button class="btn btn-primary" type="reset">ยกเลิก</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>