@import 'theme';

// .col {
//     border-style: solid;
//     border-width: 1px;
//     border-color: #000;
// }
// .row {
//     border-style: solid;
//     border-width: 1px;
//     border-color: #000;
// }


.dropdown {
    padding-right: 10px;
}
.input-group-prepend input {
    font-family: 'prompt';
    font-size: 13px;
    height: 45.12px;
    width: 465px;
    background: #F7F2F2;
    border: 1px solid #D9D8D8;
    border-left: none;
    box-sizing: border-box;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #706B6B;
}
.input-group-prepend > button {
    background: #F7F2F2;
    border: 1px solid #D9D8D8;
    border-right: none;
    box-sizing: border-box;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #706B6B;
    width: 30px;
    height: 45.12px;
}
.dropdown > button {
    background: #F7F2F2;
    border: 1px solid #D9D8D8;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 13px;
    color: #706B6B;
    width: 64px;
    height: 45.12px;
}
.button-group {
    float: right;
}

.add-data button{
    font-family: 'prompt';
    font-size: 13px;
    color: #fff;
    background-color: $success-color;
    width: 92px;
    height: 45.12px;
}
.card {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
}
.card-body {
    width: 91%;
    background: #fff;
    margin-left: 73px;
}
.header-subject {
    font-family: 'prompt';
    color: $info-color;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    padding-top: 1%;
    padding-bottom: 1%;
}
.packages-info th {
    font-family: 'prompt';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #727272;
    width: 11%;
}
.packages-info td {
    font-family: 'prompt';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    width: 11%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.packages-info td > span > button {
    font-size: 13px;
    padding: 5px 15px;
}
// .first-data-on-table {
    
// }
table {
    width: 100%;
}
mat-paginator {
    padding-top: 1%;
    font-family: 'prompt';
    font-size: 13px;
    color: #757575;
}
// .packages-info td.first-data {

// }
td.mat-cell{
    border-bottom-style: none;
}
